.current-weather-container {
  background-color: rgba(102, 222, 255, 0.7);
  border-radius: 20px;
  margin-bottom: 20px;
}

.temp-graph-container {
  background-color: #66deffb3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 20px;
  width: 100%;
}

.high-to-low-container {
  position: relative;
}

.high-to-low {
  position: absolute;
  top: 38%;
  z-index: 10;
  font-weight: 500;
  font-size: 20px;
}

.today-text {
  font-size: 25px;
}

.temp-text-big {
  font-size: 65px;
  font-weight: 800;
}


