.current-weather-container {
  background-color: rgba(102, 222, 255, 0.7);
  border-radius: 20px;
  margin-bottom: 20px;
}

.temp-graph-container {
  background-color: rgba(102, 222, 255, 0.7);
  color: white;
  border-radius: 20px;
}

.today-text {
  font-size: 25px;
}

.temp-text-big {
  font-size: 65px;
  font-weight: 800;
}

.white-text {
    color: white;
}
