.small-temp-color {
  color: #FA8E74;
}

.text-color {
  color: #525E7D !important;
}

body {
  background-color: white !important;
}

.search-bar-container {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 17px;
  top: 29px;
  color: #FA8E74;
}

.search-bar {
  border-radius: 500px;
  height: 80px;
  text-overflow: ellipsis;
  width: 100%;
  padding: 6px 48px;
  border: none;
  box-shadow: 4px 5px 16px 5px rgba(0,0,0,0.16);
}

.search-bar:focus {
  box-shadow: 4px 5px 16px 5px rgba(0,0,0,0.25);
  border: none;
}

.day-of-week {
  font-size: 20px;
  font-weight: 500;
}

.weekly-weather-container {
  box-shadow: 4px 5px 16px 5px rgba(0,0,0,0.16);
  border-radius: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 400px;
}

.my-class {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-in-left {
  -webkit-animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 576px) {
  .weekly-weather-container {
    height: fit-content;
  }
}