.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  color: white;
  background-color: rgb(12, 202, 255) !important;
}

.search-bar-container {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 17px;
  top: 29px;
}

.search-bar {
  border-radius: 500px;
  height: 80px;
  text-overflow: ellipsis;
  width: 100%;
  padding: 6px 48px;
  border: none;
  background-color: rgba(102, 222, 255, 0.7);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.weekly-weather-container {
  background-color: rgba(102, 222, 255, 0.7);
  border-radius: 20px;
  margin-bottom: 20px;
  height: 400px;
  width: 90vw;
}

.my-class {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
